body {
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F9F9F9;
}

.left {
    height: 100vh;
    box-shadow:
        0.7px 0.7px 6.6px rgba(0, 0, 0, 0.2),
        1.7px 1.7px 12.3px rgba(0, 0, 0, 0.138),
        3.5px 3.5px 17.5px rgba(0, 0, 0, 0.111),
        7.3px 7.3px 24.2px rgba(0, 0, 0, 0.089),
        20px 20px 50px rgba(0, 0, 0, 0.062);
}

.left img {
    height: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form header {
    font-size: 2.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: -1em;
}

.login-form header h1 {
    margin-bottom: 1em;
    margin-top: -1em;
    font-size: 1.1em;
}

.login-form header img {
    width: 7em;
    z-index: 1;
}

.login-form .blob {
    width: 6em;
    position: absolute;
    top: 3.5em;
    right: 3em;
    z-index: 0;
}

.login-form main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.group {
    position: relative;
}

.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #000000;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #000000;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #000000;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.login-form main button {
    background-color: #000000;
    color: #FFF;
    border-radius: 1em;
    cursor: pointer;
}

.button {
    background: #808080;
    color: #FFF;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #808080;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.button .icon {
    background: #FFF;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #808080;
    right: 0.3em;
    transition: all 0.3s;
}

.button:hover .icon {
    width: calc(100% - 0.6em);
}

.button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #808080;
}

.button:hover .icon svg {
    transform: translateX(0.1em);
}

.button:active .icon {
    transform: scale(0.95);
}

.login-form footer {
    font-size: 0.7em;
    position: absolute;
    bottom: 5px;
}